# Next.js
.next/
out/
.vercel/

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# dotenv
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
.idea/
.vscode/

# Thumbnails
.thumbnails/

# Custom
public/yasir-alam-cv.pdf # Keep this line if you want to ignore the PDF from Git, otherwise remove it.
